<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/output.css">
        <link rel="stylesheet" href="/static/css/mdeditor.css">
    </head>

    <body class="mb-10">
        {{ template "Navbar" . }}

        <main class="mx-4 mb-6 lg:mx-24 flex flex-col lg:flex-row justify-between">
            <section class="lg:max-w-[90%] px-12">
                <div>
                    <h1 class="text-4xl font-bold">Quickshare</h1>
                    <h2 class="mt-2 text-justify">
                        Transform your markdown file into either Public Page or download it directly as HTML.
                        Whether you're uploading a <strong>.md</strong> file or directly
                        pasting markdown text, the parser will converts your content into
                        HTML. You can copy the generated HTML or download it as you wish.
                    </h2>
                </div>

                <div class="flex flex-col gap-2 mt-8">
                    <p class="font-bold">Title</p>

                    <input id="title" type="text" placeholder="Title of the page goes here" class="input input-bordered input-primary w-full" />

                    <label class="label" for="title">
                        <p class="label-text-alt">
                            Only required if you want to share it as a page
                        </p>
                    </label>
                </div>

                <div class="flex flex-col gap-2 mt-4">
                    <p class="font-bold">Upload File</p>

                    <div id="drop-area" class="hover:border-black cursor-pointer border-dashed border-2 border-slate-500 rounded py-6 px-24">
                        <form>
                            <div class="flex flex-col items-center justify-center">
                                <p class="font-bold">Click or drop file here</p>
                                <p class="text-sm">only .txt and .md file will be accepted</p>
                                <p class="text-sm text-red-500" id="dropzone-error"></p>
                            </div>
                            <input class="hidden" type="file" id="file-input" accept=".txt,.md" />
                        </form>
                    </div>
                </div>

                <div class="divider my-8 text-slate-500">OR</div>

                <div class="flex flex-col gap-2">
                    <p class="font-bold">Paste Markdown</p>

                    <textarea
                        id="content"
                        class="textarea textarea-bordered textarea-primary"
                        placeholder="Paste Markdown Here"
                        rows="10"
                    ></textarea>

                    <label class="label" for="content">
                        <p class="label-text-alt">
                            <span id="content-length">0</span>/15000
                        </p>
                    </label>
                </div>
            </section>

            <aside class="lg:w-[50%] flex flex-col gap-4">
                <div
                    class="sticky top-5 flex w-full flex-col items-center justify-center rounded-lg bg-base-200 p-2 shadow-xl border border-black"
                >
                    <h2 class="mt-2 font-semibold">Quickshare as a Page</h2>
                    <p class="mt-1 mx-1 text-center text-xs italic">
                        Your record will be saved until expiration time and you can share it publicly.
                    </p>

                    <div class="my-2 flex w-full flex-col gap-2 px-4">
                        <button
                            id="share-button"
                            class="btn btn-sm btn-primary w-full gap-2 rounded-full text-sm font-normal normal-case"
                        >
                            Share as a
                            <span class="font-semibold text-amber-300">Page</span>
                        </button>
                    </div>
                </div>

                <div
                    class="sticky top-40 flex w-full flex-col items-center justify-center rounded-lg bg-base-200 p-2 shadow-xl border border-black"
                >
                    <h2 class="mt-2 font-semibold">Download as HTML?</h2>
                    <p class="mt-1 mx-1 text-center text-xs italic">
                        Your input will be processed on-demand and never stored
                        anywhere.
                    </p>

                    <div class="my-2 flex w-full flex-col gap-2 px-4">
                        <button
                            id="download-button"
                            class="group btn btn-sm btn-outline btn-primary w-full gap-2 rounded-full text-sm font-normal normal-case"
                        >
                            Download as
                            <span class="font-semibold group-hover:text-amber-300">HTML</span>
                        </button>
                    </div>
                </div>
            </aside>
        </main>

        <section class="lg:ml-[140px] lg:mr-[100px] flex flex-col gap-2 mt-8">
            <div>
                <p class="text-3xl font-bold">Preview</h1>
                <p class="mt-2 text-justify mb-4">
                    See your stuff before going to the next step.
                </p>
            </div>

            <div id="preview" class="markdown-body border border-black min-h-[300px] p-4 rounded">
            </div>
        </section>

        <script src="static/main.js"></script>
    </body>

</html>
