<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{{ .Post.Title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/output.css">
        <link rel="stylesheet" href="/static/css/mdeditor.css">
    </head>

    <body class="mb-10">
        {{ template "Navbar" . }}

        <main class="mx-4 mb-6 lg:mx-24 flex flex-col gap-4 justify-between">
            <div>
                <p class="text-sm text-slate-700">
                    {{ .Post.Title }} by {{ .Post.Username }}
                </p>
            </div>

            <div id="preview" class="markdown-body min-h-[300px] p-4 rounded">
                {{ .Content }}
            </div>
        </main>
    </body>

</html>
